/**/dist/*
/**/build/*
/**/objs/*
.DS_Store
!/**/dist/README.md
!/**/dist/*.com
!/**/dist/*.sys
!/**/dist/*.rom
!/**/dist/*.bin
!/**/dist/*.zip
/**/*.vhd
/openmsx.xml
/.vscode/*
hardware/v4/kicad-cpld-rev4/MSX USB Drive-backups/*
hardware/v3/kicad-cpld/MSX USB Drive-backups/*
hardware/v5/kicad/CH276S-Type1/MSX USB Drive-backups/*
hardware/v5/kicad/CH276S-Type1/production/backups/*
hardware/v5/kicad/CH276S-Type2/MSX USB Drive-backups/*
hardware/v5/kicad/CH276S-Type2/production/backups/*